@import url(./fonts/fonts.css);

/* Variables */
:root {
  --black-color: #202020;
  --darker-color: #151515;
  --gray-color: #393939;
  --gray-darker-color: #999999;
  --brown-color: #c6a972;
  --white-color: #ffffff;
  --red-color: #e62429;
  --btn-width: 2;
  --r-font: "Roboto";
  --rc-font: "Roboto Condensed";
}

/* General Setting */
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--white-color);
  font-family: var(--r-font), sans-serif;
}

/* TODO */
button {
  border: none;
  padding: 1.2em 2em;
  min-width: 150px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
}

.btn--marvel {
  font-family: var(--r-font);
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--red-color);
  clip-path: polygon(10% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 30%);
}
/* To fix */

button.stroke {
  position: relative;
  background-color: transparent;
  border: 1px solid white;
}
button.filled {
  border: none;
}
/* ----- */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

img {
  /* width: 100%; */
  display: block;
}

svg {
  height: 100%;
}
h1 {
  margin: 0;
}

/* Utilities Styles */
/* #loader {
  display: block;
  opacity: 1;
}
#content {
  display: none;
  opacity: 0;
  visibility: hidden;
} */

.separator {
  margin: 5px;
}

.icon--svg--white-fill {
  fill: var(--white-color);
}

.icon--svg--black-fill {
  fill: var(--black-color);
}

.section {
  padding: 6rem 0 40px;
  /* height: 90vh; */
  background-color: var(--white-color);
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.menu {
  opacity: 0;
  display: none;
}
/* Navbar Styles */

.globalNav {
  background: var(--black-color);
  color: var(--white-color);
  font-size: 0.75rem;
  font-weight: 400;
  font-family: var(--rc-font);
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

.globalNav__wrapper {
  max-width: 1200px;
  margin: auto;
}

.globalNav__container {
  border-bottom: 1px solid #393939;
}

.globalNav__upper {
  display: flex;
  height: 52px;
  justify-content: space-between;
}

.menu-account {
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0 1.5rem;
  border-left: 1px solid var(--gray-color);
  border-right: 1px solid var(--gray-color);
}

.menu-account__logo {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 8px;
}

.menu-logo {
  width: 130px;
  position: absolute;
  left: 50%;
  top: 0;
  height: 53px;
  transform: translateX(-50%);
}

.menu-right {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mastercard {
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0 30px;
  line-height: 10.8px;
  font-family: var(--rc-font);
  font-weight: bold;
  letter-spacing: 1px;
  border-left: 1px solid var(--gray-color);
  border-right: 1px solid var(--gray-color);
}

.mastercard svg {
  height: 17px;
  margin-right: 10px;
}

.search {
  height: inherit;
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 5;
  border-right: 1px solid var(--gray-color);
}

.search svg {
  width: 19px;
  height: 18px;
  stroke: #fff;
}

.icon--search {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: square;
}

.tabs-principal__wrapper {
  padding: 0 18px;
  height: 40px;
  font-weight: 500;
}
.tabs-principal__container {
  display: flex;
  justify-content: center;
}

.tabs-principal__item {
  display: flex;
  height: inherit;
  line-height: 3.4;
  position: relative;
  box-sizing: border-box;
}
.tabs-principal__item:hover {
  border-bottom: 2px solid var(--red-color);
}
.tabs-principal__wrapper:hover .nav-flyout {
  display: block;
}
/* flyout nav */
.nav-flyout {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  color: var(--black-color);
  width: 100%;
  z-index: 2;
  /* height: 500px; */
  padding-bottom: 20px;
  background: var(--white-color);
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
}
.nav-flyout__links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.nav-flyout__links li {
  font-weight: 600;
  margin-left: 26px;
}
.nav-flyout__links li a {
  color: var(--darker-color);
}
.nav-flyout__links li a:hover {
  color: var(--red-color);
}
.nav-flyout__content {
  padding: 30px 15px 0;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}
.nav-flyout__cards {
  display: flex;
  /* justify-content: space-evenly; */
  padding-top: 20px;
}
.nav-flyout__title {
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  text-transform: uppercase;
}
.nav__card {
  display: block;
  /* flex-direction: column; */
  width: 25%;
  margin: 0 9px;
  cursor: pointer;
}
.nav__card--games .nav__card-body {
  padding: 9px 0 0;
}
.nav__card-header {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}
.nav__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.nav__card-body {
  padding: 20px 40px 0 0;
}
.nav__card__title {
  color: var(--red-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
}
.nav__card__subtitle {
  color: var(--gray-darker-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
}
.nav__card__season {
  color: var(--gray-darker-color);
  font-weight: bold;
  font-size: 14px;
}
.nav__card__headline {
  font-family: var(--r-font);
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 14px;
  margin: 8px 0 0;
  line-height: 1.2;
}
.nav__card__headline:hover {
  color: var(--red-color);
}
.nav-flyout__extra {
  margin-top: 30px;
  display: flex;
  font-size: 12px;
  justify-content: center;
}
.nav-flyout__extra h4 {
  color: var(--brown-color);
}
.extra__links {
  display: flex;
}
.extra__links li {
  margin-left: 20px;
}
.extra__links li a:hover {
  color: var(--red-color);
}
.nav__card-header {
  transition: transform 0.6s;
}
.nav__card:hover .nav__card-header {
  transform: translateY(-6px);
}
.nav__card:hover .nav__card__headline {
  color: var(--red-color);
}
/* flyout nav CHARACTER */
.nav__card--character .nav__card-header {
  padding-bottom: 207px;
  box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
}
.flyout-character .nav__card-header {
  height: 185px;
}
.flyout-character .nav__card-body {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 145px;
  padding: 16px 24px 17px 20px;
  z-index: 1;

  background-color: var(--black-color);
}
.flyout-character .nav__card-body:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
  height: 4px;
  background-color: var(--red-color);
  transition: height 0.5s;
}
.nav__card--character {
  position: relative;
  overflow: hidden;
}
.nav__card--character .nav__card__headline {
  margin: 0;
  font-size: 16px;
}
.nav__card--character:after {
  position: absolute;
  z-index: 3;
  content: "";
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: var(--white-color);
  border-style: solid;
  border-top-color: transparent;
  border-width: 12px 12px 0 0;
  bottom: 0;
  right: 0;
  top: auto;
}
.nav__card--character img {
  transition: 0.5s;
}
.nav__card--character:hover .nav__card-body:after {
  height: 100%;
}
.nav__card--character:hover .nav__card-header img {
  transform: scale3d(1.05, 1.05, 1);
}
.nav__card--character:hover .nav__card__character {
  color: var(--white-color);
}
.flyout-character .nav__card__headline {
  color: var(--white-color);
  text-transform: uppercase;
}
.flyout-character .nav__card__character {
  color: var(--gray-darker-color);
  transition: 0.5s;
}
/* flyout nav TV */
.nav__card--tv .nav__card-header {
  padding-bottom: 207px;
  box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
}
.flyout-tv .nav__card-body {
  padding: 9px 0 0;
}

/* flyout nav GAMES */
.nav__card--games {
  cursor: pointer;
}
.nav__card--games .nav__card-header {
  padding-bottom: 175px;
  box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
}
.nav__card__secondary {
  padding-top: 5px;
  color: var(--gray-darker-color);
  font-family: 12px/1 var(--rc-font);
}
/* flyout nav MORE */
.flyout-more .nav-flyout__links {
  padding: 125px 0;
}
.flyout-more li {
  margin-left: 60px;
}
.flyout-more li a {
  font-size: 26px;
  display: block;
}
.flyout-more .nav-flyout__extra {
  margin: 0;
}
.nav-flyout__callout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 1rem;
}
.flyout-more .footer__follow__icons {
  margin-right: 3rem;
}
.callout__content {
  margin-left: 1rem;
  text-align: center;
}
.callout__title {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}
.callout__description {
  text-transform: capitalize;
  color: var(--gray-darker-color);
  font-family: var(--r-font);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.4px;
}

/* Banner Section */
.banner__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: var(--darker-color);
  color: var(--white-color);
  text-align: center;
  font-size: 0.8rem;
}

.banner__logo {
  margin-left: 1rem;
}
.banner__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner__title {
  font-family: var(--rc-font);
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* Slider Hero */

.hero {
  min-height: 410px;
  max-height: 640px;
  height: 63vh;
}
.carousel {
  height: inherit;
  /* padding: 0 0 1rem; */
  /* background-color: var(--darker-color); */
}
.carousel__image {
  object-fit: cover;
  display: block;
  height: inherit;
  width: 100%;
}

.carousel__track-container {
  clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
  height: 100%;
}

.carousel__track {
  /* display: inline-flex; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.carousel__slide {
  position: absolute;
  width: 100%;
  height: inherit;
  z-index: 0;
  padding-bottom: 1rem;
  background-color: var(--black-color);
  /* animation-name: fadeOutTranslate3d;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  /* transform: translate3d(0%, 0px, 0px); */
  /* opacity: 0; */
}
.next {
  animation: 3s fadeInTranslate3d 3s forwards;
}
.prev {
  animation: 3s fadeOutTranslate3d 3s alternate;
}
.carousel__page {
  position: relative;
}
.carousel__standard {
  position: absolute;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.carousel__info {
  width: 55%;
  color: var(--white-color);
}
.carousel__info h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.8rem 0;
}

.carousel__info p {
  font-size: 1rem;
  padding: 0 0 20px;
  letter-spacing: 0.5px;
  margin: 1rem 0;
}
/* TODO */
/* .carousel__slide:nth-child(0) {
  opacity: 0;
  z-index: 0;
  transform: translate3d(25%, 0px, 0px);
} */
/* .carousel__slide:nth-child(1) {
  opacity: 0;
  z-index: 0;
  transform: translate3d(25%, 0px, 0px);
} */
.carousel__slide:nth-child(2) {
  opacity: 0;
  z-index: 0;
  transform: translate3d(25%, 0px, 0px);
}
.carousel__slide:nth-child(3) {
  opacity: 0;
  z-index: 0;
  transform: translate3d(25%, 0px, 0px);
}
.carousel__slide:nth-child(4) {
  opacity: 0;
  z-index: 0;
  transform: translate3d(25%, 0px, 0px);
}
.carousel__slide:nth-child(5) {
  opacity: 0;
  z-index: 0;
  transform: translate3d(25%, 0px, 0px);
}

@keyframes fadeInTranslate3d {
  from {
    opacity: 0;
    transform: translate3d(0%, 0px, 0px);
    z-index: 0;
  }
  to {
    opacity: 1;
    transform: translate3d(100%, 0px, 0px);
    z-index: 3;
  }
}
@keyframes fadeOutTranslate3d {
  from {
    opacity: 0;
    transform: translate3d(0%, 0px, 0px);
    z-index: 3;
  }
  to {
    opacity: 1;
    transform: translate3d(-100%, 0px, 0px);
    z-index: 0;
  }
}
.carousel__slide a {
  display: block;
  height: 100%;
}

.carousel__nav {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  height: auto;
}

.carousel__indicators {
  background-color: var(--white-color);
  width: 80%;
  margin-top: -50px;
  padding: 0 20px 0;
  display: flex;
  align-items: center;
  justify-self: center;
}

.carousel__indicator {
  position: relative;
  min-width: 125px;
  flex: 1;
  height: 80px;
  /* padding: 1.2rem 0; */
  padding: 14px 30px 20px 0;
}
.carousel__indicator a {
  font-size: 14px;
  font-family: var(--r-font);
  font-weight: bold;
  letter-spacing: 0.8px;
  transition: 0.8s all;
  line-height: 1.2;
}
.carousel__indicator a:hover {
  color: var(--red-color);
}
.carousel__indicator:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  transition: 0.8s all;
}
.carousel__indicator:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--red-color);
  height: 6px;
}
/* SPLIT
 */
.section__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 560px;
  color: var(--white-color);
}
.section__header > * {
  flex: 1;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.header__right {
  position: absolute;
  width: 100%;
  background: var(--darker-color);
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
}
.split__background {
  position: absolute;
  height: 100%;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  right: 0;
}

.cut {
  content: "";
  position: absolute;
  top: 0;
  border-bottom: 560px solid var(--darker-color);
  border-right: 160px solid transparent;
  height: 0;
  left: 50%;
  position: absolute;
  width: 0;
  z-index: 1;
}

.split__wrapper {
  position: absolute;
  height: 100%;
  width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.split__container {
  max-width: 530px;
  padding: 20px 20px 50px;
}
.split__background {
  background-position: center;
}

/* section streaming */

.streaming__logo {
  margin-bottom: 1rem;
}

.streaming__background {
  background-image: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/newmu_base_set_dsk.jpg);
}
.streaming__title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: var(--rc-font);
}
.streaming__description {
  margin: 10px 0 25px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

/* Cards  */
.cards__wrapper {
  position: relative;
  z-index: 10;
  background-color: var(--white-color);
  margin: 0 auto;
  max-width: 1240px;
  margin-top: -70px;
  overflow-x: scroll;
}
/* SCROLLBAR */
.cards__wrapper::-webkit-scrollbar {
  height: 3px;
}

.cards__wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: 2px solid #f2f2f2;
}

.cards__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
}

.split__cards__container {
  display: inline-flex;
  padding: 35px 20px 50px;
}
.streaming__cards__container > div {
  margin-right: 20px;
  width: 285px;
}
.streaming__card {
  display: grid;
  grid-template-rows: 150px 20px 60px;
  grid-gap: 14px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.card--image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .streaming__card:nth-child(1) .card--image {
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/universe_thumb_wide.jpg");
}
.streaming__card:nth-child(2) .card--image {
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/mhp-1-10-comics_card.jpg");
}
.streaming__card:nth-child(3) .card--image {
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/dplus_card.jpg");
}
.streaming__card:nth-child(4) .card--image {
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/mhp-1-10-comics_card.jpg");
} */

.card--header {
  margin-top: 7px;
  font-family: var(--rc-font);
  color: var(--red-color);
  text-transform: uppercase;
}
.card--body {
  text-transform: capitalize;
  letter-spacing: 1.5;
  font-weight: 600;
  font-size: 15px;
  padding-right: 10px;
}
a:hover .card--body {
  color: var(--red-color);
}

/* Suscription */
.suscription {
  padding: 0;
}
.suscription__main {
  align-items: flex-start;
  justify-items: center;
  padding-left: 24%;
}
.cross.suscription__subtitle {
  font-size: 18px;
  font-family: var(--rc-font);
}
.suscription__background {
  background-image: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/0420_mu_base_set_dsk.jpg);
  /* background-position: bottom; */
}
.suscription__cards__container {
  padding-bottom: 20px;
}
.suscription__cards__container > div {
  margin-right: 20px;
  width: 184px;
}

.cross {
  position: relative;
  margin: 2rem 0;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.cross:after,
.cross:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #c6a972;
  transform: rotate(-45deg);
  left: 0;
  bottom: 0;
}
.cross:before {
  left: 55px;
  top: -8px;
  transform-origin: left bottom;
}
.cross:after {
  left: -5px;
  top: calc(100% + 3px);
  transform-origin: right bottom;
}
.suscription__title {
  margin: 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-family: var(--rc-font);
}
.cards__container {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 2rem;
}
.suscription__card .year {
  font-family: var(--rc-font);
  font-weight: bold;
  font-size: 12px;
}

.suscription__card a {
  width: 100%;
  display: grid;
  grid-template-rows: 260px 1fr 1fr;
  grid-gap: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}
.suscription__card a:hover div {
  color: var(--red-color);
}
.suscription__card a:hover .card--image {
  transform: translateY(-10px);
}
.suscription__card .card--image {
  transition: all 0.4s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 30px -8px;
}
.suscription__card p {
  color: #999999;
  font-weight: 100;
}

/* podcast section */
.podcast {
  margin: 0 0 10px;
  background-color: white;
}
.section > .title__section {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 26px;
  font-family: var(--rc-font);
}
.podcast__cards__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
}
.podcast .card--header {
  color: #999999;
  letter-spacing: 1px;
}
.podcast__card {
  display: grid;
  grid-template-rows: 150px 20px 60px;
  grid-gap: 10px;
  font-size: 14px;
  font-weight: bold;
}
.podcast div {
  letter-spacing: 0.5px;
}

/* latest section */
.latest {
  margin: 30px auto 80px;
  display: flex;
  padding: 8rem 0 40px;
  background-color: white;
  max-width: 1240px;
}
.latest__label {
  font-family: var(--rc-font);
  letter-spacing: 1px;
  font-size: 26px;
  margin: 0;
  line-height: 0.9;
}
.stroke.latest__btn {
  margin: 10px auto;
  color: var(--darker-color);
  border: 1px solid var(--darker-color);
  display: block;
}
.latest__left {
  flex: 4 0 70%;
  margin-right: 2rem;
}

.latest__right {
  flex: 1 0 25%;
  margin: 0;
  padding-top: 3rem;
  align-self: flex-start;
}

.card__latest__wrapper {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
}
.card__latest__image {
  flex: 1 0 50%;
}
.card__latest__image img {
  width: 100%;
  height: 100%;
}

.card__latest__info {
  flex: 1 0 50%;
  padding-left: 2rem;
}
.card__heading {
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.8rem 0;
  font-size: 14px;
  font-family: var(--rc-font);
}
.card__title:hover {
  color: var(--red-color);
}
.card__title {
  color: var(--darker-color);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0.8rem 0;
}
.card__time {
  color: #999999;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: var(--rc-font);
  font-size: 0.8rem;
}
.card__tag {
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--red-color);
  font-weight: bold;
}
/* Feed section */
.feed__wrapper {
  margin-top: -10px;
}

.image__svg {
  fill: none;
  stroke: #c6a972;
  stroke-width: 3px;
}
.feed__title {
  font-weight: 500;
  font-size: 1.7rem;
  padding: 0 0 10px;
  margin: -25px 0 0;
  text-align: center;
  text-transform: uppercase;
}
.feed__subtitle {
  font-size: 0.875rem;
  padding: 0 15px 20px;
  letter-spacing: 0.5px;
  color: #202020;
}

.feed__card__wrapper {
  display: flex;
  align-items: center;
  padding: 1.4rem 1.1rem;
  border-top: 1px solid #f2f2f2;
}

.feed__card__wrapper img {
  width: 100%;
}

.feed__card__image {
  flex: 1 0 30%;
}
.feed__card__info {
  flex: 4 0 70%;
  padding-left: 20px;
}
.feed__card__heading {
  color: #999999;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.85rem;
  width: 100%;
}

.image__svg--bottom {
  margin-top: -20px;
  display: block;
  text-align: end;
}
.image__svg--bottom svg {
  justify-self: flex-end;
  transform: rotate(180deg);
}

/* video section */
.video {
  display: flex;
  height: auto !important;
}

.video__main__wrapper {
  flex: 1 1 75%;
  padding-right: 2rem;
}

.video__vertical {
  overflow: scroll;
  height: 488px;
  flex: 1 1 25%;
}

.video__main__image {
  position: relative;
  cursor: pointer;
}
.video__main__image:hover .btn--play {
  background-color: var(--red-color);
}
.video__main__image:hover svg {
  fill: var(--white-color);
}
.btn--play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  transition: all 0.4s;
}

button.btn--play {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: unset;
  padding: 20px;
}
.play__icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play__icon svg {
  width: 80%;
  height: 80%;
  fill: var(--red-color);
  transition: all 0.4s;
}
.video__main__duration {
  position: absolute;
  padding: 8px 10px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  color: var(--white-color);
  right: 4%;
  bottom: 4%;
}

.video__main__image img {
  width: 100%;
}
.video__main__description .description__header {
  color: var(--red-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 1px;
}
.video__main__description .description__header span {
  color: #bbb;
}
.video__main__description .description__title {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: Roboto;
  text-transform: capitalize;
}
.video__main__description {
  margin-top: 1rem;
}
.video__main__description > * {
  padding-top: 1rem;
}
.video__main__description > .description__details {
  max-width: 570px;
  word-wrap: break-word;
  font-family: Roboto;
  letter-spacing: 1px;
  line-height: 1.3;
}

.card__video__wrapper {
  margin-bottom: 1rem;
  cursor: pointer;
  /* border: 2px solid var(--red-color); */
}
.card__video__wrapper:hover .card__video__title {
  opacity: 0;
}
.card__video__wrapper:hover img {
  opacity: 1;
}
.card__video__wrapper:hover .btn--play {
  background-color: var(--red-color);
  transition: all 0.4s;
}
.card__video__wrapper:hover svg {
  fill: var(--white-color);
}
.card__video__wrapper img {
  opacity: 0.2;
  transition: all 0.4s;
  width: 100%;
}
.card__video__thumbnail {
  position: relative;
}

.card__video__wrapper .btn--play {
  width: 30px;
  height: 30px;
  padding: 5px;
  /* left: calc(0 + 15px); */
  left: calc(0% + 15px);
  top: calc(100% - 15px);
}
.card__video__title {
  position: absolute;
  font-size: 0.8rem;
  font-weight: bold;
  width: 60%;
  bottom: 10px;
  left: 40px;
  letter-spacing: 1px;
  opacity: 1;
  transition: all 0.4s;
}
section .section {
  height: auto;
}

/* comics section */
.comic {
  height: auto;
}
.comic__title {
  font-size: 18px;
  font-family: var(--rc-font);
  letter-spacing: 4px;
}
.comic__background__wrapper {
  background: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/new_com_20200727_set_01.jpg);
  background-position: left center;
}
.comic__actions button:first-child {
  margin-right: 14px;
}

/* promo section */
.promo {
  background-color: #000;
  margin-top: 3rem;
  color: var(--white-color);
  position: relative;
}
.promo > .container {
  display: flex;
  align-items: center;
}
.promo__content__main {
  padding: 0 2rem;
  text-align: center;
  margin-top: 2rem;
}
.promo__image {
  flex: 1;
}
.promo__content {
  flex: 1;
}
.promo__content__main > * {
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
}
.promo__content__main > a {
  padding: 0;
}
.promo__label {
  color: var(--red-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: var(--rc-font);
}
.promo__title {
  font-weight: 600;
  font-size: 26px;
}
.promo__legal {
  font-size: 11px;
  letter-spacing: 0.8px;
  font-weight: lighter;
  margin-top: 40px;
}
.promo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}

/* footer section */
.footer {
  background: var(--darker-color);
  color: var(--white-color);
  padding: 5rem 0 3rem;
  font-family: "Roboto";
}
.page__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__links {
  /* padding: 2rem 0; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-transform: uppercase;
}

.footer--svg {
  display: block;
  width: 90px;
}
.footer__logo {
  padding-right: 2rem;
}
.footer__link {
  margin: 0 1rem 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}
.secondary__links {
  color: #bbb;
}
.footer__promos__wrapper {
  margin-bottom: 1.2rem;
}
.footer__promos {
  padding: 0 1rem;
}
.footer__promos a {
  display: flex;
  align-items: center;
}
.footer__promos__image {
  flex: 1;
}
.footer__promos__info {
  padding-left: 2rem;
  flex: 4;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
}
.promos__title {
  text-transform: uppercase;
  font-weight: 500;
}
.promos__description {
  color: #999;
  font-weight: lighter;
}
.footer__promos__image img {
  width: 100%;
}

.footer__follow {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  flex-basis: 220px;
}

.footer__follow h4 {
  margin-bottom: 1.5rem;
}
.footer__follow__icons {
  display: flex;
  flex-wrap: wrap;
}
.footer__follow__icons a {
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.footer__follow__icons .icon--svg {
  width: 20px;
  fill: #999;
}
.icon--svg:hover {
  width: 20px;
  fill: var(--white-color);
}

.footer__legal {
  padding-top: 3rem;
  font-size: 0.75rem;
  color: #999;
  letter-spacing: 1px;
  font-weight: 100;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__legal__link {
  margin: 0.6rem 1rem;
  transition: all 0.7s;
}
.footer__legal__link:hover {
  color: var(--white-color);
}
.primary__links {
  margin-right: 2rem;
}

/* TO REFACTOR */
.marvelHome {
  padding-top: 20px;
  margin: 80px auto 0;
  /* grid-template-columns: repeat(auto-fill,minmax(23.75%,1fr)); */
}
.marvelHome__title {
  font-family: var(--rc-font);
  font-weight: 500;
  margin: 1em 0;
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  line-height: 0.9;
}
.marvelHome__title::before {
  background-color: #c6a972;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform: rotate(-45deg) skewX(45deg);
  width: 20px;
  left: 53px;
  top: -8px;
  transform-origin: left bottom;
}
.marvelHome__title:after {
  background-color: #c6a972;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform: rotate(-45deg) skewX(45deg);
  width: 20px;
  left: -6px;
  top: calc(100% + 3px);
  transform-origin: right top;
}
.marvelHome__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23.75%, 1fr));
  grid-gap: 19px 10px;
}
.marvelHome__card {
  padding: 6px 0 4px;
}
.marvelHome__card .card-body {
  padding-top: 10px;
}
.marvelHome__card .card-body__category {
  color: var(--gray-darker-color);
  font-family: var(--rc-font);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
}
.marvelHome__card .card-body__description {
  color: #151515;
  font-weight: 700;
  margin: 8px 0 0;
  font-size: 15px;
  line-height: 1.2;
  padding: 0;
  cursor: pointer;
}
.marvelHome__card .card-image figure {
  position: relative;
  padding-bottom: 56.25%;
}
.marvelHome__card .card-image img {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
}
.marvelHome__card .icon--insider {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
}
