@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,600,700,800|Roboto:300,400,500,700,900&display=swap");

/* Variables */
:root {
  --black-color: #202020;
  --darker-color: #151515;
  --gray-color: #393939;
  --white-color: #ffffff;
  --red-color: #e62429;
  --btn-width: 2;
}

/* General Setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--white-color);
  font-family: "Roboto Condensed", sans-serif;
}

/* TODO */
button {
  --btn-color: var(--red-color);
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--red-color);
  font-size: 14px;
  border: none;
  padding: 1.2em 2em;
  min-width: 150px;
  text-transform: uppercase;
  cursor: pointer;
}
button.stroke {
  background-color: unset;
  background-image: paint(marvelbtn, stroke);
}
button.filled {
  background-color: unset;
  background-image: paint(marvelbtn, filled);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

img {
  /* width: 100%; */
  display: block;
}

svg {
  height: 100%;
}
h1 {
  margin: 0;
}

/* Utilities Styles */

.separator {
  margin: 5px;
}

.icon--svg--white-fill {
  fill: var(--white-color);
}

.icon--svg--black-fill {
  fill: var(--black-color);
}

.section {
  padding: 6rem 0 40px;
  height: 90vh;
  background-color: var(--white-color);
}
.container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar Styles */

.globalNav {
  background: var(--black-color);
  color: var(--white-color);
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.globalNav__wrapper {
  max-width: 1240px;
  margin: auto;
}

.globalNav__container {
  border-bottom: 1px solid #393939;
}

.globalNav__upper {
  display: flex;
  height: 52px;
  justify-content: space-between;
}

.menu-account {
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0 1.5rem;
  border-left: 1px solid var(--gray-color);
  border-right: 1px solid var(--gray-color);
}

.menu-account__logo {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1rem;
}

.menu-logo {
  width: 130px;
}

.menu-right {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mastercard {
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0 1rem;
  border-left: 1px solid var(--gray-color);
  border-right: 1px solid var(--gray-color);
}

.mastercard svg {
  height: 17px;
  margin-right: 10px;
}

.search {
  height: inherit;
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 4.5;
  border-right: 1px solid var(--gray-color);
}

.search svg {
  width: 19px;
  height: 17px;
  stroke: #fff;
}

.icon--search {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: square;
}

.tabs-principal__container {
  display: flex;
  justify-content: center;
  height: inherit;
}

.tabs-principal__item {
  height: inherit;
  padding: 0 1.3rem;
  line-height: 3.4;
}

/* Banner Section */
.banner__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: var(--darker-color);
  color: var(--white-color);
  text-align: center;
  font-size: 0.8rem;
}

.banner__logo {
  margin-left: 1rem;
}
.banner__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Slider Hero */

.hero {
  height: 65vh;
}
.carousel {
  height: inherit;
  padding: 0 0 1rem;
  /* background-color: var(--darker-color); */
}
.carousel__image {
  object-fit: cover;
  display: block;
  height: inherit;
  width:100%;
}

.carousel__track-container {
  clip-path: polygon(0 0,0 100%,100% 92%,100% 0);
  height: 100%;
}

.carousel__track {
  /* display: inline-flex; */
  width:100%;
  height: 100%;
  overflow: hidden;
  position:relative;
}
.carousel__slide {
  position: absolute;
  width: 100vw;
  height:inherit;
  z-index: 0;
  transform:translate3d(0%, 0px, 0px);
  opacity: 0;
}
.carousel__page {
  position: relative;
}
.carousel__info {
  position: absolute;
  top:50%;
  left:10%;
  transform:translateY(-50%);
  color:var(--white-color);
}
.carousel__info h1{
  font-size:3rem;
  text-transform: uppercase;
  font-weight:500;
  padding:.8rem 0;
}

.carousel__info p{
  font-size:1rem;
  padding:0 0 20px;
  letter-spacing: .5px;
  margin:1rem 0;
}
/* TODO */
.carousel__slide:nth-child(2) {
  opacity:1;
  z-index: 1;
  transform:translate3d(25%, 0px, 0px);
} 
.carousel__slide:nth-child(4) {
  opacity:1;
  z-index: 1;
  transform:translate3d(25%, 0px, 0px);
} 

.carousel__slide a {
  display: block;
  height: 100%;
}

.carousel__nav {
  position: relative;
}

.carousel__indicators {
  background-color: var(--white-color);
  position: absolute;
  left: 10%;
  top: -55px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-self: center;
}

.carousel__indicator {
  position: relative;
  min-width: 125px;
  flex:1 ;
  height: 80px;
  padding: 1.2rem 0;
}
.carousel__indicator a {
  font-weight: bold;
  padding: 20px 30px 20px 0;
  letter-spacing: 0.8px;
  font-weight: 600;
  transition:.8s all;
}
.carousel__indicator a:hover {
  color:var(--red-color);
}
.carousel__indicator:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:0;
  height: 5px;
  transition:.8s all;
}
.carousel__indicator:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
   width: 100%; 
  background-color: var(--red-color); 
  height: 6px;
}

/* section streaming */

.streaming__logo {
  margin-bottom: 1rem;
}

.streaming__background {
  background-image: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/disneyplusall_base_set_02.png);
}
.section {
  padding: 6rem 0 40px;
  height: 100vh;
  background-color: var(--white-color);
}

.section__header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 560px;
  color: var(--white-color);
}

.header__left {
  background: var(--darker-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.header__right {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
}
.streaming__background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cut {
  content: "";
  position: absolute;
  top: 0;
  border-bottom: 560px solid #151515;
  border-right: 160px solid transparent;
  height: 0;
  left: 50%;
  position: absolute;
  width: 0;
  z-index: 1;
}

/* Cards  */
.cards__wrapper {
  position: relative;
  z-index: 10;
  background-color: var(--white-color);
  margin: 0 auto;
  max-width: 1240px;
  margin-top: -70px;
}
.streaming__cards__container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.streaming__card {
  display: grid;
  grid-template-rows: 150px 20px 60px;
  grid-gap: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.card--image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.streaming__card:nth-child(1) .card--image {
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/universe_thumb_wide.jpg");
}
.streaming__card:nth-child(2) .card--image {
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/mhp-1-10-comics_card.jpg");
}
.streaming__card:nth-child(3) .card--image {
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/dplus_card.jpg");
}
.streaming__card:nth-child(4) .card--image {
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/mhp-1-10-comics_card.jpg");
}

.card--header {
  margin-top: 7px;
  color: var(--red-color);
  text-transform: uppercase;
}
.card--body {
  text-transform: capitalize;
  letter-spacing: 1.5;
  font-weight: 600;
  font-size: 15px;
}
a:hover .card--body {
  color: var(--red-color);
}

/* Suscription */
.suscription__main {
  align-items: flex-start;
  justify-items: center;
  padding-left: 24%;
}
.suscription__background__wrapper {
  background-image: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/mu_base_set_dsk.jpg);
  background-position: bottom;
}
.cross {
  position: relative;
  margin: 2rem 0;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.cross:after,
.cross:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #c6a972;
  transform: rotate(-45deg);
  left: 0;
  bottom: 0;
}
.cross:before {
  left: 55px;
  top: -8px;
  transform-origin: left bottom;
}
.cross:after {
  left: -5px;
  top: calc(100% + 3px);
  transform-origin: right bottom;
}
.suscription__title {
  margin: 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.cards__container {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 2rem;
}
.suscription__card {
  width: 200px;
  display: inline-block;
  margin-right: 1rem;
}

.suscription__card a {
  display: grid;
  grid-template-rows: 260px 1fr 1fr;
  grid-gap: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}
.suscription__card a:hover div {
  color: var(--red-color);
}
.suscription__card a:hover .card--image {
  transform: translateY(-10px);
}
.suscription__card .card--image {
  transition: all 0.4s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 30px -8px;
}
.suscription__card p {
  color: #999999;
  font-weight: 100;
}

/* podcast section */
.podcast {
  height: 40vh;
  padding: 6rem 0 40px;
  background-color: white;
}
.section > .title__section {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 26px;
}
.podcast__cards__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
}
.podcast .card--header {
  color: #999999;
}
.podcast__card {
  display: grid;
  grid-template-rows: 150px 20px 60px;
  grid-gap: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}
.podcast div {
  letter-spacing: 1.5px;
}

/* latest section */
.latest {
  /* height: 50vh; */
  margin: auto;
  display: flex;
  padding: 6rem 0 40px;
  background-color: white;
}
.latest__left {
  flex: 4 0 70%;
  margin-right: 2rem;
}

.latest__right {
  flex: 1 0 25%;
  margin: 0;
  padding-top: 3rem;
  align-self: flex-start;
}

.card__latest__wrapper {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #f2f2f2;
}
.card__latest__image {
  flex: 1 0 50%;
}
.card__latest__image img {
  width: 100%;
  height: 100%;
}

.card__latest__info {
  flex: 1 0 50%;
  padding-left: 2rem;
}
.card__heading {
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0.8rem 0;
}
.card__title {
  color: var(--darker-color);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0.8rem 0;
}
.card__time {
  color: #999999;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-size: 0.8rem;
}
/* Feed section */
.feed__wrapper {
  margin-top: -10px;
}

.image__svg {
  fill: none;
  stroke: #c6a972;
  stroke-width: 3px;
}
.feed__title {
  font-weight: 500;
  font-size: 1.7rem;
  padding: 0 0 10px;
  margin: -25px 0 0;
  text-align: center;
  text-transform: uppercase;
}
.feed__subtitle {
  font-size: 0.875rem;
  padding: 0 15px 20px;
  letter-spacing: 0.5px;
  color: #202020;
}

.feed__card__wrapper {
  display: flex;
  align-items: center;
  padding: 1.4rem 1.1rem;
  border-top: 1px solid #f2f2f2;
}

.feed__card__wrapper img {
  width: 100%;
}

.feed__card__image {
  flex: 1 0 30%;
}
.feed__card__info {
  flex: 4 0 70%;
  padding-left: 20px;
}
.feed__card__heading {
  color: #999999;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.85rem;
  width: 100%;
}

.image__svg--bottom {
  margin-top: -20px;
  display: block;
  text-align: end;
}
.image__svg--bottom svg {
  justify-self: flex-end;
  transform: rotate(180deg);
}

/* video section */
.video {
  display: flex;
  height: auto !important;
}

.video__main__wrapper {
  flex: 1 1 75%;
  padding-right: 2rem;
}

.video__vertical {
  overflow: scroll;
  height: 488px;
  flex: 1 1 25%;
}

.video__main__image {
  position: relative;
  cursor: pointer;
}
.video__main__image:hover .btn--play {
  background-color: var(--red-color);
}
.video__main__image:hover svg {
  fill: var(--white-color);
}
.btn--play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  transition: all 0.4s;
}

button.btn--play {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: unset;
  padding: 20px;
}
.play__icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play__icon svg {
  width: 80%;
  height: 80%;
  fill: var(--red-color);
  transition: all 0.4s;
}
.video__main__duration {
  position: absolute;
  padding: 8px 10px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  color: var(--white-color);
  right: 4%;
  bottom: 4%;
}

.video__main__image img {
  width: 100%;
}
.video__main__description .description__header {
  color: var(--red-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 1px;
}
.video__main__description .description__header span {
  color: #bbb;
}
.video__main__description .description__title {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: Roboto;
  text-transform: capitalize;
}
.video__main__description {
  margin-top: 1rem;
}
.video__main__description > * {
  padding-top: 1rem;
}
.video__main__description > .description__details {
  max-width: 570px;
  word-wrap: break-word;
  font-family: Roboto;
  letter-spacing: 1px;
  line-height: 1.3;
}

.card__video__wrapper {
  margin-bottom: 1rem;
  cursor: pointer;
  /* border: 2px solid var(--red-color); */
}
.card__video__wrapper:hover .card__video__title {
  opacity: 0;
}
.card__video__wrapper:hover img {
  opacity: 1;
}
.card__video__wrapper:hover .btn--play {
  background-color: var(--red-color);
  transition: all 0.4s;
}
.card__video__wrapper:hover svg {
  fill: var(--white-color);
}
.card__video__wrapper img {
  opacity: 0.2;
  transition: all 0.4s;
  width: 100%;
}
.card__video__thumbnail {
  position: relative;
}

.card__video__wrapper .btn--play {
  width: 30px;
  height: 30px;
  padding: 5px;
  /* left: calc(0 + 15px); */
  left: calc(0% + 15px);
  top: calc(100% - 15px);
}
.card__video__title {
  position: absolute;
  font-size: 0.8rem;
  font-weight: bold;
  width: 60%;
  bottom: 10px;
  left: 40px;
  letter-spacing: 1px;
  opacity: 1;
  transition: all 0.4s;
}
section .section {
  height: auto;
}

/* comics section */
.comic {
  height: auto;
}
.comic__background__wrapper {
  background: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/new_com_20200309_set_01.jpg);
  background-position: left center;
}

/* promo section */
.promo {
  background-color: #000;
  margin-top: 3rem;
  color: var(--white-color);
  position: relative;
}
.promo > .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo__content__main {
  padding: 2rem;
  text-align: center;
}

.promo__content__main > * {
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
}
.promo__label {
  color: var(--red-color);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.promo__title {
  font-size: 1.8rem;
  font-weight: 600;
}
.promo__description {
  letter-spacing: 1px;
}
.promo__legal {
  font-size: 0.6rem;
  letter-spacing: 0.8px;
  font-weight: lighter;
}
.promo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}

/* footer section */
.footer {
  background: var(--darker-color);
  color: var(--white-color);
  padding: 5rem 0 3rem;
  font-family: "Roboto";
}
.page__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__links {
  /* padding: 2rem 0; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-transform: uppercase;
}

.icon--svg {
  /* display: block;
  width: 90px; */
}
.footer__logo {
  padding-right: 2rem;
}
.footer__link {
  margin: 0 1rem 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}
.secondary__links {
  color: #bbb;
}
.footer__promos__wrapper {
  margin-bottom: 1.2rem;
}
.footer__promos {
  padding: 0 1rem;
}
.footer__promos a {
  display: flex;
  align-items: center;
}
.footer__promos__image {
  flex: 1;
}
.footer__promos__info {
  padding-left: 2rem;
  flex: 8;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
}
.promos__title {
  text-transform: uppercase;
  font-weight: 500;
}
.promos__description {
  color: #999;
  font-weight: lighter;
}
.footer__promos__image img {
  width: 100%;
}

.footer__follow {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  flex-basis: 220px;
}

.footer__follow h4 {
  margin-bottom: 1.5rem;
}
.footer__follow__icons {
  display: flex;
  flex-wrap: wrap;
}
.footer__follow__icons a {
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.footer__follow__icons .icon--svg {
  width: 20px;
  fill: #999;
}
.icon--svg:hover {
  width: 20px;
  fill: var(--white-color);
}

.footer__legal {
  padding-top: 3rem;
  font-size: 0.75rem;
  color: #999;
  letter-spacing: 1px;
  font-weight: 100;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__legal__link {
  margin: 0.6rem 1rem;
  transition: all 0.7s;
}
.footer__legal__link:hover {
  color: var(--white-color);
}
